*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(preview.jpg);
    background-size: cover;
    background-position: center;
}
.content{
    font-size: 22;
    width: 100%;
    position: absolute;
    top: 21%;
    transform: translateY(-50%);
    text-align: center;
    color: #24bd64;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: normal;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: sans-serif;
}
span{
    background: #24bd64;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
h1{
    color: #fff;    
    font-size: 56;
}
p{
    color: #fff;
}

*, ::after, ::before {
	box-sizing: border-box;
}
.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}
.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}
.alert, .breadcrumb, .card, .card .card-header, .dropdown-menu, .file-custom, .input-group-addon, .jumbotron, .list-group .list-group-item, .modal-content, .nav .nav-link, .nav-tabs, .navbar, .navbar-toggler, :first-child.page-item .page-link, :last-child.page-item .page-link, .pagination-lg :first-child.page-item .page-link, .pagination-lg :last-child.page-item .page-link, .pagination-sm :first-child.page-item .page-link, .pagination-sm :last-child.page-item .page-link, .popover, .tag, .tooltip-inner, img {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}
:root {
	--blue:#007bff: ;
	--indigo:#6610f2: ;
	--purple:#6f42c1: ;
	--pink:#e83e8c: ;
	--red:#dc3545: ;
	--orange:#fd7e14: ;
	--yellow:#ffc107: ;
	--green:#28a745: ;
	--teal:#20c997: ;
	--cyan:#17a2b8: ;
	--white:#fff: ;
	--gray:#6c757d: ;
	--gray-dark:#343a40: ;
	--primary:#007bff: ;
	--secondary:#6c757d: ;
	--success:#28a745: ;
	--info:#17a2b8: ;
	--warning:#ffc107: ;
	--danger:#dc3545: ;
	--light:#f8f9fa: ;
	--dark:#343a40: ;
	--breakpoint-xs:0: ;
	--breakpoint-sm:576px: ;
	--breakpoint-md:768px: ;
	--breakpoint-lg:992px: ;
	--breakpoint-xl:1200px: ;
	--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji": ;
	--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace: ;
}
b, strong {
	font-weight: bolder;
}
